body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #777;
	font-size: 65%;
}

header, main, footer {
	background-color: #ddd;
	font-size: 1.6em;
}

header {
    margin: 1.875em 0;
	padding: 1.875em 0;
}

header h1 {
	text-align: center;
}

header p {
    margin: 0 10% 10px;
    display: block;
}

header strong {
    font-weight: bold;
}

h1 {
	font-size: 2em;
}

main h2 {
    padding: 0.625em 0 0 0.625em;
    text-align: center;
}

section {
	margin: 1.875em 0;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 2em;
	font-size: 1.25em;
}

footer {
	text-align: center;
	padding: 2em;
}

footer p {
	display: inline-block;
}

img {
    display: block;
    margin: auto;
	width: 50%;
    max-width: 50%;
}

.vid {
    margin: auto;
    text-align: center;
}